<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anikas Webseite</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>

    <header hx-get="components/header.html" hx-trigger="load" hx-swap="innerHTML"></header>

    <main>

        <section class="hero">

            <div class="hero-left">

                <div class="circle">
                    <p class="japanese">こんにちは</p>
                    <h1>Entdecke<br>Japan<br>mit mir!</h1>
                </div>

                <div class="hero-description">
                    <h2>Lorem ipsum dolor sit amet,</h2>
                    <p>
                        consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad
                        minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>

            </div>

            <figure class="title_picture">
                <img src="images/titelbild.webp" alt="Mount Fuji">
            </figure>

        </section>

        <!-- Beginn Über mich -->
        <section class="split-section">

            <figure class="split-image">
                <img src="images/ich.webp" alt="Ein Bild von mir in Japan in einem Kimono."
                    title="Aufgenommen in Kyoto.">

                <figcaption class="image-source">
                    Quelle: Eigene Aufnahme
                </figcaption>
            </figure>

            <section class="split-text">

                <h3>Über mich</h3>

                <p>
                    Lorem ipsum dolor sit amet,
                    <b>consetetur sadipscing elitr, sed diam nonumy eirmod</b>
                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                    dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                    justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                    takimata sanctus est Lorem ipsum dolor sit amet.
                </p>

                <a href="ueber-mich.html" class="nav-link nav-link--background-dark">
                    Klicke hier, um mehr über mich und meine Japan-Leidenschaft zu erfahren!
                </a>

            </section>

        </section>
        <!-- Ende Über mich -->


        <!-- Beginn Kultur -->
        <section class="split-section reverse">

            <figure class="split-image">
                <img src="images/kultur.webp" alt="Ein Bild von einem traditionellen Tempel."
                    title="Bild eines japanischen Tempels.">

                <figcaption class="image-source">
                    Quelle: ChatGPT
                </figcaption>
            </figure>

            <section class="split-text">

                <h3>Die japanische Kultur</h3>

                <p>
                    Lorem ipsum dolor sit amet,
                    <b>consetetur sadipscing elitr, sed diam nonumy eirmod</b>
                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                    dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                    justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                    takimata sanctus est Lorem ipsum dolor sit amet.
                </p>

                <a href="kultur.html" class="nav-link nav-link--background-light">
                    Klicke hier, um mehr über die japanische Kultur zu erfahren!
                </a>

            </section>

        </section>
        <!-- Ende Kultur -->


        <!-- Beginn Schrift -->
        <section class="split-section">

            <figure class="split-image">
                <img src="images/schrift.webp" alt="Das Wort Japanisch in japanischer Schrift."
                    title="Das Wort Japanisch in japanischer Schrift." class="split-image">
                <figcaption class="image-source">
                    Quelle: ChatGPT
                </figcaption>
            </figure>
            <section class="split-text">

                <h3>Die japanische Schrift</h3>

                <p>
                    Lorem ipsum dolor sit amet,
                    <b>consetetur sadipscing elitr, sed diam nonumy eirmod</b>
                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                    dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                    justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                    takimata sanctus est Lorem ipsum dolor sit amet.
                </p>

                <a href="schrift.html" class="nav-link nav-link--background-dark">
                    Klicke hier, um mehr über die japanische Schrift zu erfahren!
                </a>

            </section>

        </section>
        <!-- Ende Schrift -->

    </main>
    <footer hx-get="components/footer.html" hx-trigger="load" hx-swap="outerHTML">
    </footer>
    <button id="backToTop" title="Zürück nach oben">↑</button>
</body>

</html>