<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanji</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
</head>

<body data-page="kanji">

    <header hx-get="components/header.html" hx-trigger="load" hx-swap="innerHTML">

    </header>
    <main class="content-layout">

        <section class="content">
            <h1>Kanji</h1>
            <h2>漢字 (かんじ)</h2>

            <p>
                Kanji (漢字) sind die aus China übernommenen Schriftzeichen des
                japanischen Schriftsystems und bilden neben Hiragana und Katakana
                die dritte und komplexeste japanische Schriftart.
            </p>
            <p>
                Ihren Ursprung haben sie in China, wo sie bereits vor über 3000
                Jahren entstanden. Die frühesten Formen chinesischer Schriftzeichen
                wurden auf Orakelknochen und Bronzegefäßen gefunden und
                entwickelten sich über Jahrhunderte zu einem umfangreichen
                Schriftsystem. Etwa im 4. bis 5. Jahrhundert n. Chr. gelangten die
                chinesischen Schriftzeichen über Korea nach Japan. Zu dieser Zeit
                besaß Japan noch kein eigenes Schriftsystem, weshalb die Übernahme
                der chinesischen Schrift einen entscheidenden kulturellen und
                sprachlichen Wandel bedeutete. Zunächst wurden chinesische Texte
                direkt gelesen und verwendet, später begannen japanische Gelehrte,
                die Zeichen an die Strukturen der japanischen Sprache anzupassen.
            </p>
            <p>
                Da sich Japanisch grammatikalisch stark vom Chinesischen
                unterscheidet, mussten die übernommenen Schriftzeichen
                verändert und neu interpretiert werden. Während chinesische
                Schriftzeichen meist nur eine Aussprache besitzen, erhielten
                viele Kanji in Japan mehrere Lesungen:
            </p>
            <p>
                On-Lesung (音読み): orientiert sich an der ursprünglichen
                chinesischen Aussprache
            </p>
            <p>
                Kun-Lesung (訓読み): ein japanisches Wort wurdedem Zeichen
                zugeordnet.
            </p>
            <p>
                Dadurch kann ein einzelnes Kanji je nach Kontext unterschiedlich
                ausgesprochen werden.
            </p>
            <p>
                Eine Besonderheit von Kanji ist, dass sie – anders als Hiragana
                und Katakana – nicht nur Laute, sondern häufig ganze Bedeutungen
                oder Wörter darstellen. Das Zeichen 山 bedeutet beispielsweise
                „Berg“, 水 bedeutet „Wasser“ und 人 steht für „Mensch“. Dadurch
                transportieren Kanji bereits beim Lesen semantische Informationen
                und ermöglichen es, Texte kompakter und oft eindeutiger
                darzustellen.
            </p>
            <p>
                Besonders wichtig ist diese Eindeutigkeit bei Wörtern mit gleicher
                Aussprache. Im Japanischen gibt es viele sogenannte Homophone –
                also Wörter, die gleich ausgesprochen werden, aber unterschiedliche
                Bedeutungen haben. Erst durch das verwendete Kanji wird klar,
                welches Wort gemeint ist. Ein bekanntes Beispiel ist das Verb kiku
                (Hiragana: きく):
            </p>
            <table>
                <tr>
                    <td>
                        <ul>
                            <li>聞く bedeutet „hören“ oder „zuhören“</li>
                            <li>効く bedeutet „wirken“ (zum Beispiel bei Medikamenten)</li>
                        </ul>
                    </td>
                </tr>
            </table>
            <p>
                Beide Verben werden gleich ausgesprochen, unterscheiden sich jedoch
                durch ihr Kanji eindeutig in ihrer Bedeutung.
            </p>
            <p>
                Heute sind Kanji ein unverzichtbarer Bestandteil der japanischen
                Schriftsprache. Sie werden für die meisten Substantive, Wortstämme
                von Verben und Adjektiven sowie für Eigennamen verwendet. Im
                modernen Japan existieren mehrere tausend Kanji, wobei für den
                allgemeinen Sprachgebrauch offiziell 2.136 Jōyō-Kanji (常用漢字)
                als grundlegender Zeichensatz definiert sind. Das Erlernen von
                Kanji gilt daher als einer der anspruchsvollsten Schritte beim
                Japanischlernen.
            </p>
        </section>

    </main>

    <footer hx-get="components/footer.html" hx-trigger="load" hx-swap="outerHTML">
    </footer>

</body>

</html>