<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katakana</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
</head>

<body data-page="katakana">

    <header hx-get="components/header.html" hx-trigger="load" hx-swap="innerHTML">

    </header>
    <main class="content-layout">

        <div hx-get="components/sidebar-schrift.html" hx-trigger="load" hx-swap="outerHTML">
        </div>

        <section class="content">
            <h1>Katakana</h1>

            <p>Hier steht dein Inhalt.</p>
        </section>

    </main>

    <div    hx-get="components/footer.html" 
            hx-trigger="load" 
            hx-swap="outerHTML">
    </div>
    
</body>

</html>