<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schrift</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
    <script src="script.js" defer></script>
</head>

<body data-page="schrift">

    <header hx-get="components/header.html" hx-trigger="load" hx-swap="innerHTML"></header>

    <main>

        <div class="content-layout">

            <div hx-get="components/sidebar-schrift.html" hx-trigger="load" hx-swap="outerHTML">
            </div>

            <section class="text-mit-bild">

                <div class="text">

                    <h1>Die japanische Schrift</h1>
                    <h2>Vielfalt der Schriftzeichen</h2>

                    <p>
                        Die japanische Schrift setzt sich aus drei verschiedenen
                        Schriftarten zusammen. Das hört sich erstmal ziemlich unnötig
                        kompliziert an...
                        <br><br>

                        consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                    </p>

                </div>

                <img src="images/Schrift.png" alt="Das Wort Japanisch in japanischen Schriftzeichen"
                    class="schriftbild">

            </section>
        </div>

        <section class="schriftarten">

              <div class="schriftarten-grid">

                <article class="schriftkarte">
                    <span class="japanisch">あ</span>
                    <h3>Hiragana</h3>
                    <p>
                        Hiragana ist die erste Silbenschrift, die beim Erlernen der
                        japanischen Sprache verwendet wird.
                    </p>

                    <a href="hiragana.html" class="button-link">
                        Mehr über Hiragana
                    </a>
                </article>

                <article class="schriftkarte">
                    <span class="japanisch">ア</span>
                    <h3>Katakana</h3>
                    <p>
                        Katakana wird hauptsächlich für Fremdwörter,
                        Lautmalereien und Hervorhebungen verwendet.
                    </p>

                    <a href="katakana.html" class="button-link">
                        Mehr über Katakana
                    </a>
                </article>

                <article class="schriftkarte">
                    <span class="japanisch">日</span>
                    <h3>Kanji</h3>
                    <p>
                        Kanji sind chinesische Schriftzeichen und bilden einen
                        wichtigen Bestandteil der japanischen Schriftsprache.
                    </p>

                    <a href="kanji.html" class="button-link">
                        Mehr über Kanji
                    </a>
                </article>

            </div>

        </section>


    </main>
</body>

</html>