/* ALLGEMEINES_______________________________________________________________________ */
/* __________________________________________________________________________________ */

* {
    box-sizing: border-box;
}

:root {
    --japanred: rgb(188, 0, 45);

    --background: white;
    --background-secondary: #f0f0f0;
    --background-third: black;

    --text: black;
    --text-secondary: white;

}


main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 20px;
    background: var(--background);
    color: var(--text);
}

body {
    background-color: var(--background);
    color: var(--text);
    margin: 0;

    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.7;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

p {
    margin-bottom: 1rem;
}

/* Überschriften */

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--text);
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--japanred);

    margin-top: 1em;
    margin-bottom: 0.5em;

    text-decoration-color: var(--japanred);
    text-underline-offset: 1rem;
}

h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text);
}

/* Dark Modus______________________________________________________________________ */

html.darkmode {

    --background: black;
    --background-secondary: #555555;
    --background-third: rgb(225, 225, 225);

    --text: rgb(225, 225, 225);
    --text-secondary: rgb(225, 225, 225);

}

.darkmode-button {

    background: transparent;
    border: none;

    font-size: 1.4rem;
    cursor: pointer;

    padding: 8px;

}

.darkmode-button .darkmode-icon {
    width: 36px;
    height: 36px;
    display: block;
}

/* Weicher Überganz beim Wechsel zwischen den Modi Dark <-> Light */
body,
header,
main,
footer,
nav,
section,
article,
aside,
button,
a,
div,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
    transition:
        background-color 0.35s ease,
        color 0.35s ease,
        border-color 0.35s ease,
        box-shadow 0.35s ease;
}

.darkmode-icon {
    width: 36px;
    height: 36px;
    display: block;

    transition:
        opacity 0.25s ease,
        transform 0.25s ease;
}


/* Effekte beim Wechsel zwischen den Modi Dark <-> Light */

#theme-effects {
    position: fixed;
    inset: 0;

    pointer-events: none;
    overflow: hidden;

    z-index: 9999;
}

.theme-particle {
    position: absolute;

    font-size: 24px;

    animation: particle 0.8s ease-out forwards;
}


@keyframes particle {

    0% {
        opacity: 0;
        transform: translateY(0) scale(0.5);
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(80px) rotate(180deg) scale(1.2);
    }

}

/* Quellen */

.sources {
    margin-top: 3rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--background-secondary);
}

.image-source {
    margin-top: 0.4rem;
    font-size: 0.85rem;
    color: var(--text);
    text-align: center;
}

.image-source a {
    color: inherit;
    text-decoration: underline;
}

/* Verlinkungen */

.nav-link {
    display: inline-block;
    padding: 10px 14px;
    text-decoration: underline;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    font: inherit;
}

.nav-link--background-dark {
    /* Verlinkungen - Dunkler Hintergrund + helle Schrift */
    background: var(--background);
    color: var(--japanred);
}

.nav-link--background-dark:hover {
    color: var(--text);
}

.nav-link--background-light {
    /* Verlinkungen - Heller Hintergrund + dunkle Schrift */
    background: var(--japanred);
    color: var(--text-secondary);
}

.nav-link--background-light:hover {
    background: var(--background-third);
    color: var(--text-secondary);
}

.title_picture {
    flex: 1;
    margin: 0;

    display: flex;
    align-items: stretch;
}

.title_picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Bild füllt den gesamten Bereich */

    -webkit-mask-image: linear-gradient(to right, transparent, var(--background-third));
    mask-image: linear-gradient(to right, transparent, var(--background-third));
}

/* Back-to-Top */

#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 50px;
    height: 50px;

    border: 2px solid var(--background-third);
    border-radius: 50%;
    background-color: var(--japanred);
    color: var(--text-secondary);

    font-size: 28px;
    font-weight: 90;
    line-height: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: opacity 0.3s;
}

#backToTop:hover {
    background-color: var(--background-third);
}

/* Sektion für großes Bild */

.big-image {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
}

.big-image .big-image {
    display: block;
    width: 60%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

/* Aufgeteilte Bereiche mit Text und Bild */
/* Aufteilung: (Bild 1/5) (Text 4/5) */
.split-i1-t4 {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 2rem;
    align-items: center;
}

.split-i1-t4 .text {
    flex: 3;
}

.split-i1-t4 .image {
    position: relative;
    width: 80%;
    cursor: pointer;
}

.split-i1-t4 .image img {
    width: 100%;
    height: auto;
    display: block;
}

.base-image {
    position: relative;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.split-i1-t4 .image:hover .hover-image {
    opacity: 1;
}

#overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: var(--background-third);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#overlay img {
    max-width: 90vw;
    max-height: 90vh;
}

.split-i1-t2 {
    /* Aufteilung: (Bild 1/3) (Text 2/3) */
    display: flex;
    align-items: center;
    gap: 30px;
}

.split-i1-t2 .image {
    flex: 1;
}

.split-i1-t2 .image img {
    width: 100%;
    height: auto;
    display: block;
}

.split-i1-t2 .text {
    flex: 2;
}

.split-i1-t1 {
    /* Aufteilung: (Bild 1/2) (Text 1/2) */
    display: flex;
    gap: 2rem;
    align-items: center;
}

.split-i1-t1 .text,
.split-i1-t1 .image {
    flex: 1;
}

/* Bild sauber skalieren */
.split-i1-t1 .image img {
    width: 100%;
    height: auto;
    display: block;
}

.home_icon {
    width: 40px;
    border: 2px solid var(--background-third);

}

/* STARTSEITE_______________________________________________________________________ */
/* _________________________________________________________________________________ */

.split-section {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    padding: 40px 20px;
    align-items: stretch;
    background-color: var(--japanred);
    color: var(--text-secondary);
}

.split-image {
    flex: 0 0 50%;
    width: 50%;
    max-height: 800px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin: 0;
}

.split-image img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}

.split-text {

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    min-width: 0;
}

.split-image .image-source {
    color: var(--text-secondary);
}

.split-section.reverse {
    flex-direction: row-reverse;
    background-color: transparent;
    color: var(--text);
}

.split-section.reverse .image-source {
    color: var(--text);
}

/* Hero - Titelbild und Kreis */

.hero {
    display: flex;
    align-items: stretch;
    gap: 4rem;

    width: 100%;

}

.circle {
    left: 10rem;
    top: 5rem;

    width: 22rem;
    height: 22rem;
    background: var(--japanred);
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--text-secondary);

}

.circle .japanese {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.circle h1 {
    margin: 0;
    text-align: center;
    line-height: 1.2;
    font-size: 2rem;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* Abstand zwischen Kreis und Text */
    margin-left: 5rem;
}

.hero-description {
    width: 25rem;

}

.hero-description h2 {
    margin-bottom: 0.8rem;
}

.hero-description p {
    line-height: 1.5;
}

/* KULTUR_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_
/* Text neben Bild */
.first-text-image {
    display: flex;
    align-items: center;
    padding: 0;
}

.first-text-image .text {
    padding-left: 80px;
    padding-right: 40px;
    flex: 1;
}

.first-text-image .image {
    width: 40%;
    height: auto;
    display: block;
    flex: 0 0 40%;
}

.first-text-image .image img {
    width: 100%;
    height: auto;
    display: block;
}

/* Kategorien (4 Boxen) */

/* Gesamter Bereich */
.boxes {
    background-color: var(--japanred);
    padding: 40px 0;
    display: grid;
    justify-items: center;
    gap: 10px;

}

.boxes-grid {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.boxes-card {
    position: relative;
    background: var(--background);
    border: 2px solid var(--background-third);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    overflow: hidden;
    height: 340px;
}

.boxes-card img {
    width: 70%;
    object-fit: cover;
    border-radius: 0px;
}

.boxes-card h3 {
    margin-top: 15px;
    color: var(--text);
}

/* Vorderseite */
.card-front {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 1;
    transition: opacity 0.8s ease;
    background: var(--background);
}

/* Rückseite */
.card-back {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 10px;

    opacity: 0;
    transition: opacity 0.8s ease;

    background: var(--background);
}

/* SCHRIFT_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_
/*FLEXBOXEN TEXT NEBEN BILD _____________________________________________________________
/* Text neben Bild*/
.schrift-text-mit-bild {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* Linke Hälfte */
.schrift-text {
    flex: 1;
}

/* Bild passt sich der verfügbaren Breite an */
.schrift-bild {
    max-width: 100%;
    width: 30%;
    height: auto;
}

/* Gesamter Bereich */
.schriftarten {

    background-color: var(--japanred);
    padding: 30px;
    margin-top: 10px;

}

/* SCHRIFT: FLEXBOXEN 3 SPALTEN _____________________________________________________________
/* Drei Spalten */
.schriftarten-grid {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

/* Weiße Karten */
.schriftkarte {

    background: var(--background);
    padding: 25px;
    border-radius: 7px;
    text-align: center;

    border: 2px solid transparent;

    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        border-color 0.3s ease;

}

.japanisch {
    font-family: "Yu Gothic";
    font-size: 6rem;
    color: var(--text);
    line-height: 1;
}

/* Überschrift der Karte */
.schriftkarte h3 {

    color: var(--japanred);

}

/* Link */
.button-link {

    display: inline-block;
    margin-top: 5px;
    padding: 10px 10px;
    background-color: var(--japanred);
    color: var(--text-secondary);
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s;

}

/* HIRAGANA/KATAKANA/KANJI_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_*/

.content-layout {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-inline: 5%;
    box-sizing: border-box;
}

/* NAVIGATION______________________________________________________________________ */

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    width: 100%;
}

/* Buttons */
.nav-button {
    display: inline-block;
    background-color: var(--background);
    color: var(--japanred);
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
}

/* Aktive Seite wird in der Navigation optisch hervorgehoben */
.nav-button.active {
    background-color: var(--japanred);
    color: var(--text-secondary);
    padding-bottom: 9px;
}

/* DESKTOP-NAVIGATION ______________________________________________ */


/* Mobile Navigation ausblenden */
.mobile-nav {

    display: none;
    background: #f5f5f5;
    padding: 10px 15px;

}

.mobile-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Dropdown-Menü bei "Schrift" */
.dropdown {
    position: relative;
}

.dropdown summary {
    list-style: none;
}

.dropdown summary::-webkit-details-marker {
    display: none;
}

.dropdown summary.nav-button {
    display: block;
    font: inherit;
    cursor: pointer;
}

.dropdown summary.nav-button.active {
    font-weight: bold;
}

.dropdown-content {
    list-style: none;
    margin: 0;
    padding: 8px;

    display: flex;
    flex-direction: column;

    position: absolute;
    top: 100%;
    left: 0;
    gap: 6px;

    background: var(--background);
    min-width: 110px;
    border-radius: 6px;

    box-shadow: 0 3px 10px var(--background-third);
}

.dropdown:not([open]) .dropdown-content {
    display: none;
}

.dropdown-content .nav-button {
    display: block;
    margin: 4px 0;
    text-align: center;
}

.nav-list li,
.mobile-menu li,
.dropdown-content li {
    margin: 0;
    padding: 0;
}

.desktop-nav,
.mobile-nav {
    background-color: var(--background-secondary);
    padding: 10px;
}

/* UEBER MICH_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_
/* Timeline _____________________________________________________________*/

.timeline {
    max-width: 1400px;
    margin: 50px auto;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 80px 1fr;
    row-gap: 40px;

    position: relative;
}

/* Mittlere Linie */

.timeline::before {
    content: "";
    position: absolute;

    left: 50%;
    top: 0;
    bottom: 0;

    width: 4px;
    background: var(--background-third);

    transform: translateX(-50%);
}

/* Karten */

.card {
    display: flex;
    align-items: center;
    gap: 20px;

    min-height: 170px;

    padding: 20px;
    padding-top: 45px;

    border: 3px solid var(--background-third);

    position: relative;
}

.card.dark {
    background: var(--japanred);
    color: var(--text-secondary);
}

/* Positionierung */

/* Linke Karten */

.card:nth-child(odd) {
    grid-column: 1;
}

/* Rechte Karten */

.card:nth-child(even) {
    grid-column: 3;

    flex-direction: row-reverse;

}

/* Text */

.text {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 15px;
}

.text h3 {
    position: absolute;
    top: 15px;
    margin: 0;
    font-size: 2rem;
}

.text p {
    margin-top: 10px;
    line-height: 1.5;
}

/* Jahreszahl linksbündig auf rechten Karten */

.card:nth-child(even) .text {
    text-align: left;
}

.card:nth-child(even) .text h3 {
    left: 20px;
}

/* Jahreszahl rechtsbündig auf linken Karten */

.card:nth-child(odd) .text {
    text-align: right;
}

.card:nth-child(odd) .text h3 {
    right: 20px;
}

/* =========================
   BILDER
   ========================= */

.card img {
    width: 130px;
    height: 130px;

    object-fit: cover;

    border: 2px solid var(--background-third);

    flex-shrink: 0;
}

/* =========================
   PUNKTE AUF DER ZEITACHSE
   ========================= */

.point {
    position: absolute;

    left: 50%;
    transform: translate(-50%, -50%);

    width: 18px;
    height: 18px;

    background: var(--japanred);
    border: none;
    border-radius: 50%;

    z-index: 10;
}

.point::before {
    content: "";
    position: absolute;

    top: 50%;
    width: 35px;
    height: 4px;

    background: var(--background-third);

    transform: translateY(-50%);
}

.point.left::before {
    left: -35px;
}

.point.right::before {
    right: -35px;
}

/* FOOTER_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_*/

.footer {
    background-color: var(--background-secondary);
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* 404-Seite_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_*/

.error-container {

    max-width: 1200px;
    margin: 80px auto;
    padding: 20px;
    text-align: center;

}

.error-container h1 {

    color: var(--japanred);
    font-size: 3rem;
    margin-bottom: 20px;

}

.language-grid {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.language-box {

    border: 3px solid var(--japanred);
    border-radius: 10px;
    padding: 25px;
    background: var(--background);

}

.language-box h2 {

    color: var(--japanred);
    margin-bottom: 20px;

}

.language-box p {

    line-height: 1.7;

}

.home-button {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    padding: 15px 35px;
    background: var(--japanred);
    color: var(--text-secondary);
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;

}

.home-button img {

    width: 28px;
    height: auto;

}

/* Media Queries: Devices mit Hover-Funktion _|_|_|_|_|_|_|_|_
/* _|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|
_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|
_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|
_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|
_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|
_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|
_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|
*/
@media (hover: hover) and (pointer: fine) {

    /* Desktop-Hauptnavigation
    /* Maus hover */
    .nav-button:hover {
        background-color: var(--background-third);
        color: var(--japanred);
        font-weight: normal;
    }

    /*Hovern bei aktiver Seite anders */
    .nav-button.active:hover {
        background-color: var(--background-third);
    }

    /* Hiragana/Katakana */
    .big-image:hover .big-image {
        transform: scale(1.5);
    }

    .split-i1-t2 .image:hover img {
        transform: scale(1.5);
    }

    /* Schrift */
    .schriftkarte:hover {

        transform: translateY(-12px);
        box-shadow: 0 20px 40px var(--background-third);
        border-color: var(--japanred);
        border: 2px solid var(--background-third);

    }

    /* Boxen Vorder- und Rückseite drehen beim Hovern (kultur.html und Kanji.html) */
    .boxes-card:hover .card-front {
        opacity: 0;
    }

    .boxes-card:hover .card-back {
        opacity: 1;
    }

    /* Dark Mode */
    .darkmode-button:hover {
        transform: scale(1.1);
    }


}

/* Media Queries: Smartphone (bis 767 px) _|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_*/
/* _|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|
_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|
_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|
_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|
_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|
_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|
_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|
*/
@media (max-width: 767px) {

    html {
        font-size: 16px;
    }

    /* Für Tests der Positionierungen und Ausmaße */
    
    * {
        outline: 1px solid red;
    }

    /* Überschriften */
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    /* Bild unter den Text */
    .first-text-image {
        flex-direction: column;
    }

    .kultur-text {
        padding: 20px;
    }

    .kultur-bild {
        width: 100%;
        max-width: 450px;
        margin: 20px auto;
    }

    /* Kategorien/Boxen: alle untereinander */
    .boxes-grid {
        width: 50%;
        grid-template-columns: 1fr;
        justify-items: stretch;
    }

    .boxes-card {
        width: 100%;
        max-width: 300px;
        min-height: 320px;
        height: auto;
    }

    .boxes-card.flipped .card-front {
        opacity: 0;
    }

    .boxes-card.flipped .card-back {
        opacity: 1;
    }

    /* Desktop-Menü ausblenden */
    .desktop-nav {
        display: none;
    }

    /* Mobile-Menü anzeigen */
    .mobile-nav {
        display: block;
        background: var(--background-secondary);
        padding: 10px 15px;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    /* Flagge links, Hamburger rechts */
    .mobile-nav-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    /* Hamburger-Symbol */
    .hamburger summary {
        list-style: none;
        cursor: pointer;
        font-size: 2.2rem;
        user-select: none;
        line-height: 1;
        padding: 5px;
    }

    .hamburger {
        position: relative;
    }

    .hamburger-button {

        width: 50px;
        height: 50px;

        background: transparent;
        border: 2px solid var(--text);
        border-radius: 50%;

        font-size: 2.2rem;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0;

        transition:
            background-color 0.3s ease,
            transform 0.3s ease,
            border-color 0.3s ease;

    }

    .hamburger-button span {
        display: block;
        transform: translateY(-2px);
        color: var(--text);

    }

    .hamburger summary {
        list-style: none;
    }

    .hamburger summary::-webkit-details-marker {
        display: none;
    }

    /* Menü */
    .mobile-menu {

        position: absolute;
        top: 100%;
        right: 0;
        width: 240px;
        display: none;
        flex-direction: column;
        gap: 8px;
        padding: 15px;
        background: var(--background);
        border-radius: 8px;
        box-shadow: 0 5px 15px var(--background-third);
        z-index: 1000;
    }

    /* Buttons */
    .mobile-menu .nav-button {
        display: block;
        text-align: center;
        width: 100%;
    }

    /* Dropdown Schrift */
    .mobile-menu .dropdown {
        position: static;
    }

    .mobile-menu.open {
        display: flex;
    }

    .mobile-menu .dropdown-content {

        position: static;
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        background: transparent;
        box-shadow: none;
        border-left: 2px solid var(--japanred);
        margin-left: 10px;
        padding-left: 12px;
    }

    .mobile-menu .dropdown-content .nav-button {
        padding-left: 28px;
        font-size: 0.95rem;
        color: var(--text);
        opacity: 0.9;

    }

    .mobile-menu .dropdown-content .nav-button:hover {
        color: var(--text-secondary);
    }

    .mobile-menu .dropdown>summary {
        font-weight: 700;
        font-size: 1rem;
    }

    /* Footer */
    .footer {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }


    /* Startseite Hero */

    .hero {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .hero-left {
        width: 100%;
        margin-left: 0; /* wichtig */
        align-items: center;
    }


    .circle {
        width: 18rem;   /* optional: kleiner für Handy */
        height: 18rem;
        margin: 0 auto;
    }


    .hero-description {
        width: 90%;
        margin: 0 auto;
        text-align: center; /* optional */
    }

    /* 404-Seite */

    .error-container {
        margin: 40px auto;
        padding: 15px;
    }

    .error-container h1 {
        font-size: 2rem;
    }

    .intro {
        font-size: 1rem;
        margin-bottom: 30px;
    }

    .language-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .language-box {
        padding: 20px;
    }

    .home-button {
        width: 100%;
        box-sizing: border-box;
        padding: 15px;

    }

    .home-button img {
        width: 20px;
    }

    /* Startseite */
    .split-section,
    .split-section.reverse {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .split-image {
        width: 100%;
        max-width: 350px;
        height: auto;
    }

    .split-text {
        width: 80%;
    }

    /* Hiragana */

    .split-i1-t2,
    .split-i1-t4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .split-i1-t2 .image,
    .split-i1-t4 .image,
    .split-i1-t2 .text,
    .split-i1-t4 .text {
        width: 100%;
    }

    /* Über mich */

    .timeline {
        grid-template-columns: 40px 1fr;
        row-gap: 25px;
        padding: 20px 15px;
        position: relative;
    }

    /* Linie links */

    .timeline::before {
        left: 20px;
        transform: none;
    }

    /* =========================
       KARTEN
       ========================= */

    .card:nth-child(odd),
    .card:nth-child(even) {
        grid-column: 2;
    }


    .card {
        display: grid;
        position: relative;

        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;

        gap: 15px;

        align-items: start;

        min-height: auto;

        padding: 15px;
    }

    /* =========================
       PUNKTE
       ========================= */

    .point {
        left: 20px;
        transform: translate(-50%, -50%);
    }

    /* =========================
       VERBINDUNGSLINIE
       ========================= */

    .point::before {
        width: 25px;

        background: var(--background-third);
    }

    .point.left::before,
    .point.right::before {
        left: 18px;
        right: auto;
    }

    /* =========================
       BILDER
       ========================= */

    .card img {
        grid-column: 2;
        grid-row: 1;

        width: 90px;
        height: 90px;

        object-fit: cover;
    }

    /* =========================
       TEXT
       ========================= */

    .text {
        display: contents;
    }

    /* Jahreszahl */

    .text h3 {
        position: static;
        /* hebt position:absolute auf */

        grid-column: 1;
        grid-row: 1;

        margin: 0;
        font-size: 1.8rem;

        text-align: left;
    }

    /* Beschreibung */

    .text p {
        grid-column: 1 / 3;
        grid-row: 2;

        margin: 0;

        text-align: left;

        line-height: 1.5;
    }

    /* Schrift */

    .schriftarten-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .schriftkarte {

        background: var(--background);
        padding: 25px;
        border-radius: 7px;
        text-align: center;

        border: 2px solid transparent;

        transition:
            transform 0.3s ease,
            box-shadow 0.3s ease,
            border-color 0.3s ease;

    }

    .schriftkarte.active {
        border-color: var(--background-third);
        box-shadow: 0 8px 20px var(--background-third);
    }



}


@media print {

    /* 1. Hintergrund auf weiß + Standardtext schwarz */
    * {
        background: var(--background) !important;
        color: var(--text) !important;
    }

    body {
        background: var(--background) !important;
        color: var(--text) !important;
        font-size: 16px;
    }

    /* 2. Header und Footer ausblenden */
    header,
    footer {
        display: none !important;
    }

    /* Optional: verhindert unnötige Schatten/Rahmen */
    * {
        box-shadow: none !important;
        text-shadow: none !important;
    }
}