<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Über mich</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
    <script src="script.js" defer></script>
</head>

<body data-page="ueber-mich">

    <header hx-get="components/header.html" hx-trigger="load" hx-swap="innerHTML">
    </header>

    <main>
        <h1>Über mich</h1>
        <h2>Meine Verbindung zu Japan</h2>
    </main>

    <section class="timeline">

        <!-- Linke Spalte -->
        <section class="left-column">

            <article class="card left dark">
                <img src="images/platzhalter.PNG" alt="2005">
                <section class="text">
                    <h4>2005</h4>
                    <p>Beschreibung für das Jahr 2005.</p>
                </section>
            </article>

            <article class="card left light">
                <img src="images/platzhalter.PNG" alt="2011">
                <section class="text">
                    <h4>2011</h4>
                    <p>Beschreibung für das Jahr 2011.</p>
                </section>
            </article>

            <article class="card left dark">
                <img src="images/platzhalter.PNG" alt="2023">
                <section class="text">
                    <h4>2023</h4>
                    <p>Beschreibung für das Jahr 2023.</p>
                </section>
            </article>

        </section>

        <!-- Mittlere Spalte -->
        <aside class="timeline-center">
            <section class="line"></section>
        </aside>

        <!-- Rechte Spalte -->
        <section class="right-column">

            <article class="card right light">
                <section class="text">
                    <h4>2006</h4>
                    <p>Beschreibung für das Jahr 2006.</p>
                </section>
                <img src="images/platzhalter.PNG" alt="2006">
            </article>

            <article class="card right dark">
                <section class="text">
                    <h4>2019</h4>
                    <p>Beschreibung für das Jahr 2019.</p>
                </section>
                <img src="images/platzhalter.PNG" alt="2019">
            </article>

            <article class="card right light">
                <section class="text">
                    <h4>2026</h4>
                    <p>Beschreibung für das Jahr 2026.</p>
                </section>
                <img src="images/platzhalter.PNG" alt="2026">
            </article>

        </section>

    </section>

    <footer hx-get="components/footer.html" hx-trigger="load" hx-swap="outerHTML">
    </footer>

</body>

</html>