<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Über mich</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
    <script src="script.js" defer></script>
</head>

<body data-page="ueber-mich">

    <header hx-get="components/header.html" hx-trigger="load" hx-swap="innerHTML">
    </header>

    <main>
        <h1>Über mich</h1>
        <h2>Meine Verbindung zu Japan</h2>


        <section class="timeline">

            <article class="card dark">
                <img src="images/2005_book.webp" alt="2005">
                <section class="text">
                    <h3>2005</h3>
                    <p>Ich habe beschlossen, neben der Schule Japanisch zu lernen und mir selbst Hiragana,
                        Katakana und erste Kanji beigebracht.</p>
                </section>
            </article>

            <article class="card dark">
                <img src="images/2006_vhs.webp" alt="2006">
                <section class="text">
                    <h3>2006</h3>
                    <p>Ich habe einen VHS-Kurs besucht, aber schnell gemerkt, dass das Niveau relativ niedrig
                        und das Lerntempo langsam war. Es war eine gute Erfahrung, aber ich habe nur diesen einen Kurs
                        gemacht.</p>
                </section>
            </article>

            <article class="card dark">
                <img src="images/2011_uni.webp" alt="2011">
                <section class="text">
                    <h3>2011</h3>
                    <p>Ich habe mein Studium begonnen und wegen der hohen Lernbelastung mein Japanischlernen
                        pausiert.</p>
                </section>
            </article>

            <article class="card dark">
                <img src="images/2019_tandem.webp" alt="2019">
                <section class="text">
                    <h3>2019</h3>
                    <p> Nach meinem Studienabschluss habe ich einen Job begonnen. Als ich mich im
                        Berufsalltag eingelebt hatte, habe ich wieder mit Japanisch angefangen. Außerdem habe
                        ich eine Tandempartnerin gefunden – sie ist Japanerin und lernt Deutsch.</p>
                </section>
            </article>

            <article class="card dark">
                <img src="images/2021_yt.webp" alt="2021">
                <section class="text">
                    <h3>2021</h3>
                    <p> Ich habe angefangen, Japanisch über YouTube zu lernen. Besonders hilfreich waren Kanäle
                        wie Bite Size Japanese, Learn Japanese with Noriko und der YUYUの日本語Podcast.</p>
                </section>
            </article>

            <article class="card dark">
                <img src="images/platzhalter.PNG" alt="2026">
                <section class="text">
                    <h3>2026</h3>
                    <p>Ich habe im Rahmen meines zweiten, diesmal berufsbegleitenden Studiums bei einem Modul
                        als Aufgabe bekommen eine Webseite zu programmieren. Ich habe meine Japan(-isch)-Reise
                        als Thema genommen.</p>
                </section>
            </article>

        </section>

        <figcaption class="image-source">
            Quelle Bilder: ChatGPT
        </figcaption>
    </main>

    <footer hx-get="components/footer.html" hx-trigger="load" hx-swap="outerHTML">
    </footer>

</body>

</html>