<!-- NAVIGATION DESKTOP (Breite > 767 px) -->

<nav class="desktop-nav" aria-label="Hauptnavigation desktop">

    <a href="index.html">
        <img src="../images/japan_flagge.svg" alt="Zurück zur Startseite" title="Zurück zur Startseite" width="40"
            style="border: 2px solid black;">
    </a>

    <a href="../ueber-mich.html" class="nav-button">Über mich</a>

    <details class="dropdown" id="schriftDropdown">
        <summary class="nav-button" id="schriftButton">Schrift  ▼</summary>

        <div class="dropdown-content">

            <a href="../schrift.html" class="nav-button">Übersicht</a>
            <a href="../hiragana.html" class="nav-button">Hiragana</a>
            <a href="../katakana.html" class="nav-button">Katakana</a>
            <a href="../kanji.html" class="nav-button">Kanji</a>
        </div>

    </details>

    <a href="../kultur.html" class="nav-button">Kultur</a>
</nav>

<!-- NAVIGATION MOBILE (Breite < 768 px) ________________________________________________--->
<nav class="mobile-nav" aria-label="Hauptnavigation mobile">

    <div class="mobile-nav-header">

        <!-- Logo -->
        <a href="../index.html">
            <img src="../images/japan_flagge.svg"
                 alt="Startseite">
        </a>

        <!-- Hamburger-Menü -->
        <div class="hamburger">

            <!-- Button zum Öffnen -->
            <button id="menuButton"
                    class="hamburger-button"
                    aria-label="Menü öffnen">

                ☰

            </button>

            <!-- Das eigentliche Menü -->
            <div id="mobileMenu"
                 class="mobile-menu">

                <a href="../ueber-mich.html"
                   class="nav-button">

                    Über mich

                </a>

                <!-- Untermenü -->
                <details class="dropdown">

                    <summary class="nav-button">

                        Schrift

                    </summary>

                    <div class="dropdown-content">

                        <a href="../schrift.html"
                           class="nav-button">

                            Übersicht

                        </a>

                        <a href="../hiragana.html"
                           class="nav-button">

                            Hiragana

                        </a>

                        <a href="../katakana.html"
                           class="nav-button">

                            Katakana

                        </a>

                        <a href="../kanji.html"
                           class="nav-button">

                            Kanji

                        </a>

                    </div>

                </details>

                <a href="../kultur.html"
                   class="nav-button">

                    Kultur

                </a>

            </div>

        </div>

    </div>

</nav>