<nav aria-label="Hauptnavigation">
    
    <a href="index.html">
    <img src="images/Japanflagge.svg.webp" alt="Zurück zur Startseite" title="Zurück zur Startseite" width="40"
        style="border: 2px solid black;">
    </a>
    
    <a href="ueber-mich.html" class="nav-button">Über mich</a>

    <details class="dropdown" id="schriftDropdown">
        <summary class="nav-button" id="schriftButton">Schrift</summary>

        <div class="dropdown-content">
            <a href="schrift.html" class="nav-button">Übersicht</a>
            <a href="hiragana.html" class="nav-button">Hiragana</a>
            <a href="katakana.html" class="nav-button">Katakana</a>
            <a href="kanji.html" class="nav-button">Kanji</a>
        </div>
        
    </details>

        <a href="kultur.html" class="nav-button">Kultur</a>
</nav>